{% extends 'layout/base.html' %}

{% block title %}Đăng ký người dùng{% endblock %}

{% block css_import %}
<link href="{{ url_for('static', filename='css/register.css') }}" rel="stylesheet" type="text/css"/>

{% endblock %}

{% block content %}
<h1 style="text-align: center; margin-top: 2%; margin-bottom: 2%;"><i class="fa-regular fa-address-card"></i> Đăng ký
    người dùng</h1>
<div class="box_contain_register_form">
    <form class="row register_form">
        <div class="col-md-6 register_box">
            <label class="form-label"> <i class="fa-solid fa-signature"></i> Họ và tên</label>
            <input required type="text" class="form-control">
        </div>
        <div class="col-md-6 register_box">
            <label class="form-label"> <i class="fa-regular fa-address-card"></i> CMND</label>
            <input required type="text" class="form-control">
        </div>
        <div class="col-md-12 register_box">
            <label class="form-label"> <i class="fa-solid fa-house-crack"></i> Quê quán</label>
            <input required  type="text" class="form-control">
        </div>
        <div class="col-md-6 register_box">
            <label class="form-label"><i class="fa-regular fa-envelope"></i> Email</label>
            <input required type="email" class="form-control">
        </div>

         <div class="col-md-6 register_box">
            <label class="form-label"><i class="fa-regular fa-envelope"></i> Số điện thoại</label>
            <input required type="number" class="form-control">
        </div>

        <div class="col-md-3 register_box">
            <label for="birthday"><i class="fa-solid fa-cake-candles"></i> Birthday:</label>
            <input required style="width: 100%;" type="date" id="birthday" name="birthday">
        </div>

        <div class="col-md-3 register_box">
            <label class="form-label"><i class="fa-solid fa-children"></i> Gender</label>
            <br>
            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" name="rdo" checked>
                <label class="form-check-label">Male</label>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" name="rdo">
                <label class="form-check-label">Female</label>
            </div>
        </div>


        <div class="col-md-6 register_box">
            <label class="form-label"><i class="fa-solid fa-user-astronaut"></i> Upload avatar</label>
            <input  type="file" class="form-control">
        </div>
        <hr>
        <div class="row">
            <div class="col-md-7 register_box">
                <label class="form-label"> <i class="fa-regular fa-address-card"></i> Tài Khoãn</label>
                <input required type="text" class="form-control">
            </div>
             <div class="col-md-5 register_box_role">
                <label class="form-label">Vai trò người dùng</label>
                <ul class="list_check_box">
                    <li>
                        <input class="form-check-input" type="checkbox" id="check1" name="option1" value="option1" checked>
                        <span>Option 1</span>
                    </li>

                    <li>
                        <input class="form-check-input" type="checkbox" id="check2" name="option2" value="option2">
                        <span>Option 2</span>
                    </li>

                    <li>
                        <input class="form-check-input" type="checkbox" id="check3" name="option3" value="option3">
                        <span>Option 3</span>
                    </li>
                </ul>

            </div>
            
            <div class="col-md-7 register_box">
                <label class="form-label"> <i class="fa-regular fa-address-card"></i> Mật Khẩu</label>
                <input required type="text" class="form-control">
            </div>


        </div>
        <div class="col-md-3 bt_submit">
            <br>
            <button class="btn btn-primary form-control">Submit</button>
        </div>
    </form>
</div>
{% endblock%}